config global
        option nfiles 131072
        option memlock 82000
        option daemon_corefile_limit 'unlimited'

config varnish
        option listen_address   '0.0.0.0'
        option listen_port '80'
        option listen_proxy_address  '0.0.0.0' 
        option listen_proxy_port '6083'
        option admin_listen_address     '0.0.0.0'
        option admin_listen_port '6082'
        option secret_file '/etc/varnish.secret'
	option thread_pools '4'
        option min_threads '400'
        option max_threads '800'
        option thread_timeout '120'
        option storage_file '/varnish/varnish_01.sto'
        option storage_size '20G'
        option storage_engine 'file'
        option vcl_conf '/etc/varnish/other.vcl'
        option reload_vcl 0
