config global
        option nfiles 131072
        option memlock 82000
        option daemon_corefile_limit 'unlimited'

config varnish
        option listen_address   '0.0.0.0'
        option listen_port '80'
        option admin_listen_address     '0.0.0.0'
        option admin_listen_port '6081'
        option secret_file '/etc/varnish.secret'
	option thread_pools '4'
        option thread_pool_min '400'
        option thread_pool_max '800'
        option thread_pool_timeout '120'
        #option storage_file '/varnish/varnish_01.sto'
        option storage_size '1G'
        #option storage_engine 'file'
        option storage_engine 'malloc'
        option vcl_conf '/etc/varnish/config.vcl'
        option reload_vcl 0
